.mybackground {
    background-image: url("../img/tic_login.jpg");
    background-size: cover;
    font-family: sans-serif;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
#editar .container #editar-row #editar-column #editar-box {
    margin-top: 50px;
    max-width: 580px;
    width: 580px;
    height: 640px;
    border-radius: 20px;

}

a{
    margin-top: -95px;
}