body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.mybackground {
    background-image: url("../img/tic_login.jpg");
}

a{
    margin-top: -98px;
}
#register .container #register-row #register-column #register-box {
    margin-top: 100px;
    max-width: 580px;
    width: 580px;
    height: 640px;
    border: 1px solid rgb(156, 156, 156);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    font-family: sans-serif;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 10px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
}
